<div class="navbar-wrap">
  <div class="navbar-btn">
    <%= link_to "Projects", projects_path %>
  </div>
  <div class="navbar-btn">
    <%= link_to "Employees", employees_path %>
  </div>
  <div class="navbar-btn">
    <%= link_to "New Project", new_project_path %>
  </div>
</div>