<h1>Employees Index</h1>
<% @employees.each do |employee| %>
  <div class="employees-flex-row">
    <div class="employee-name"><%= employee.name %></div>
    <div class="employee-projects-row">
      <% employee.projects.each do |project| %>
        <div class="employee-project-col">
          <%= project.title %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>