// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.employees-flex-row {
  display: flex;
  padding: 10px;
  border: 2px solid black;
}
.employee-name {
  display: flex;
  padding: 5px;
  border: 1px solid gray;
}
.employee-projects-row {
  display: flex;
  border: 1px solid purple;
}
.employee-project-col {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid green;
}
.test-working {
  color: salmon;
}

#project-wrap {
  display: flex;
  flex-direction: column;
}

#error-msg-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

#error-msg {
  color: red;
}

#canvas1 {
  background: aquamarine;
  width: 200px;
  height: 200px;
}





